In [1]:
import numpy as np
import pandas as pd

In [53]:
mydata = pd.read_csv('Laliga.csv') #reading the Data 
mydata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 20 columns):
Pos              61 non-null int64
Team             61 non-null object
Seasons          61 non-null int64
Points           61 non-null object
GamesPlayed      61 non-null object
GamesWon         61 non-null object
GamesDrawn       61 non-null object
GamesLost        61 non-null object
GoalsFor         61 non-null object
GoalsAgainst     61 non-null object
Champion         61 non-null object
Runner-up        61 non-null object
Third            61 non-null object
Fourth           61 non-null object
Fifth            61 non-null object
Sixth            61 non-null object
T                61 non-null object
Debut            61 non-null object
Since/LastApp    61 non-null object
BestPosition     61 non-null int64
dtypes: int64(3), object(17)
memory usage: 9.6+ KB

In [114]:
df0 = mydata.replace('-',0) #replacing NaN with 0
df0

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934,2001-02,1
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,0,0,4,5,2,5,16,1929,1994-95,3
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,18,1939,2012-13,2
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,14,1932,2015-16,1
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,0,1,12,1941,2014-15,1
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,0,0,0,2,4,5,11,1939,2012-13,4
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,0,0,0,1,1,1,3,1948,2013-14,4
13,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,0,1,1,2,0,1,5,1929,2011-12,2
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,0,1,1,2,2,1,7,1944,2015-16,2
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,0,0,0,2,2,2,6,1935,2016-17,4
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,0,0,0,1,0,1,2,1949,2008-09,4
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,0,0,3,2,2,4,11,1933,2000-01,3
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,0,0,2,0,2,1,5,1960,2012-13,3
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,0,1,1,1,1,1,5,1951,2015-16,2
20,21,Villarreal,17,970,646,266,172,208,892,789,0,1,1,2,3,2,9,1998,2013-14,2
21,22,Granada,23,667,742,218,175,349,819,1157,0,0,0,0,0,2,2,1941,2016-17,6
22,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,0,0,0,0,0,0,0,1977,2015-16,8
23,24,Elche,21,606,678,203,180,295,750,1022,0,0,0,0,1,1,2,1959,2014-15,5
24,25,Getafe,12,553,456,147,112,197,520,633,0,0,0,0,0,1,1,2004,2015-16,6
25,26,Hercules,20,538,628,184,149,295,716,1050,0,0,0,0,1,4,5,1935,2010-11,5
26,27,Tenerife,13,510,494,155,128,211,619,744,0,0,0,0,2,0,2,1961,2009-10,5
27,28,Murcia,18,445,586,145,143,298,607,992,0,0,0,0,0,0,0,1940,2007-08,11
28,29,Alaves,12,421,380,125,81,174,458,623,0,0,0,0,0,1,1,1930,2016-17,6
29,30,Levante,11,416,402,113,95,194,430,632,0,0,0,0,0,1,1,1963,2015-16,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,32,Sabadell,14,353,426,129,95,202,492,720,0,0,0,1,1,0,2,1943,1987-88,4
32,33,Cadiz,12,343,448,104,127,217,393,662,0,0,0,0,0,0,0,1977,2005-06,12
33,34,Logrones,9,293,346,96,92,158,291,489,0,0,0,0,0,0,0,1987,1996-97,7
34,35,Castellon,11,285,334,103,79,152,419,588,0,0,0,1,2,0,3,1941,1990-91,4
35,36,Albacete,7,277,270,76,76,118,320,410,0,0,0,0,0,0,0,1991,2004-05,7
36,37,Almeria,6,242,228,62,56,110,244,366,0,0,0,0,0,0,0,2007,2014-15,8
37,38,Cordoba,9,230,282,82,63,137,285,430,0,0,0,0,1,0,1,1962,2014-15,5
38,39,Compostela,4,190,160,52,45,63,199,241,0,0,0,0,0,0,0,1994,1997-98,10
39,40,Recreativo,5,188,186,50,46,90,202,296,0,0,0,0,0,0,0,1978,2008-09,8
40,41,Burgos CF,6,168,204,59,50,95,216,310,0,0,0,0,0,0,0,1971,1979-80,12
41,42,Pontevedra,6,150,180,53,44,83,165,221,0,0,0,0,0,0,0,1963,1969-70,7
42,43,Numancia,4,148,152,37,37,78,155,253,0,0,0,0,0,0,0,1999,2008-09,17
43,44,Eibar,3,132,114,35,27,52,139,167,0,0,0,0,0,0,0,2014,2014-15,10
44,45,Arenas,7,107,130,43,21,66,227,308,0,0,1,0,3,0,4,1929,1934-35,3
45,46,Real Burgos,3,96,114,26,44,44,101,139,0,0,0,0,0,0,0,1990,1992-93,9
46,47,Gimnastic,4,91,116,34,16,66,181,295,0,0,0,0,0,0,0,1947,2006-07,7
47,48,Extremadura,2,83,80,20,23,37,62,117,0,0,0,0,0,0,0,1996,1998-99,17
48,49,Merida,2,81,80,19,24,37,70,115,0,0,0,0,0,0,0,1995,1997-98,19
49,50,Alcoyano,4,76,108,30,16,62,145,252,0,0,0,0,0,0,0,1945,1950-51,10
50,51,Jaen,3,71,90,29,13,48,121,183,0,0,0,0,0,0,0,1953,1957-58,14
51,52,Real Union,4,56,72,21,14,37,153,184,0,0,0,0,0,1,1,1929,1931-32,6
52,53,AD Almeria,2,52,68,17,18,33,71,116,0,0,0,0,0,0,0,1979,1980-81,10
53,54,Europa,3,42,54,18,6,30,97,131,0,0,0,0,0,0,0,1929,1930-31,8
54,55,Lleida,2,40,68,13,14,41,70,182,0,0,0,0,0,0,0,1950,1993-94,16
55,56,Leganes,1,35,38,8,11,19,36,55,0,0,0,0,0,0,0,2016,2016-17,17
56,57,Xerez,1,34,38,8,10,20,38,66,0,0,0,0,0,0,0,2009,2009-10,20
57,58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,0,1956,1956-57,16
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,0,1951,1951-52,16
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,0,1955,1955-56,15
60,61,Girona,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2017,2017-18,9

In [123]:
x=df0.Debut
df0['Debut']=df0['Debut'].apply(pd.to_numeric)
x = df0[(df0['Debut']>1929) & (df0['Debut']<1981)] #printing teams that Debut between 1930-1980
x

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931,1987-88,1
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934,2001-02,1
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,18,1939,2012-13,2
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,14,1932,2015-16,1
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,0,1,12,1941,2014-15,1
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,0,0,0,2,4,5,11,1939,2012-13,4
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,0,0,0,1,1,1,3,1948,2013-14,4
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,0,1,1,2,2,1,7,1944,2015-16,2
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,0,0,0,2,2,2,6,1935,2016-17,4
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,0,0,0,1,0,1,2,1949,2008-09,4
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,0,0,3,2,2,4,11,1933,2000-01,3
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,0,0,2,0,2,1,5,1960,2012-13,3
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,0,1,1,1,1,1,5,1951,2015-16,2
21,22,Granada,23,667,742,218,175,349,819,1157,0,0,0,0,0,2,2,1941,2016-17,6
22,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,0,0,0,0,0,0,0,1977,2015-16,8
23,24,Elche,21,606,678,203,180,295,750,1022,0,0,0,0,1,1,2,1959,2014-15,5
25,26,Hercules,20,538,628,184,149,295,716,1050,0,0,0,0,1,4,5,1935,2010-11,5
26,27,Tenerife,13,510,494,155,128,211,619,744,0,0,0,0,2,0,2,1961,2009-10,5
27,28,Murcia,18,445,586,145,143,298,607,992,0,0,0,0,0,0,0,1940,2007-08,11
28,29,Alaves,12,421,380,125,81,174,458,623,0,0,0,0,0,1,1,1930,2016-17,6
29,30,Levante,11,416,402,113,95,194,430,632,0,0,0,0,0,1,1,1963,2015-16,6
30,31,Salamanca,12,375,423,123,102,198,422,581,0,0,0,0,0,0,0,1974,1998-99,7
31,32,Sabadell,14,353,426,129,95,202,492,720,0,0,0,1,1,0,2,1943,1987-88,4
32,33,Cadiz,12,343,448,104,127,217,393,662,0,0,0,0,0,0,0,1977,2005-06,12
34,35,Castellon,11,285,334,103,79,152,419,588,0,0,0,1,2,0,3,1941,1990-91,4
37,38,Cordoba,9,230,282,82,63,137,285,430,0,0,0,0,1,0,1,1962,2014-15,5
39,40,Recreativo,5,188,186,50,46,90,202,296,0,0,0,0,0,0,0,1978,2008-09,8
40,41,Burgos CF,6,168,204,59,50,95,216,310,0,0,0,0,0,0,0,1971,1979-80,12
41,42,Pontevedra,6,150,180,53,44,83,165,221,0,0,0,0,0,0,0,1963,1969-70,7
46,47,Gimnastic,4,91,116,34,16,66,181,295,0,0,0,0,0,0,0,1947,2006-07,7
49,50,Alcoyano,4,76,108,30,16,62,145,252,0,0,0,0,0,0,0,1945,1950-51,10
50,51,Jaen,3,71,90,29,13,48,121,183,0,0,0,0,0,0,0,1953,1957-58,14
52,53,AD Almeria,2,52,68,17,18,33,71,116,0,0,0,0,0,0,0,1979,1980-81,10
54,55,Lleida,2,40,68,13,14,41,70,182,0,0,0,0,0,0,0,1950,1993-94,16
57,58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,0,1956,1956-57,16
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,0,1951,1951-52,16
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,0,1955,1955-56,15

In [129]:
df0['Points']= df0['Points'].apply(pd.to_numeric)
df0.nlargest(5,'Points', keep= 'first') #top 5 top scoring teams

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1

In [131]:
df0['GoalsFor']=df0['GoalsFor'].apply(pd.to_numeric)
df0['GoalsAgainst']=df0['GoalsAgainst'].apply(pd.to_numeric)

                                              #Creating function 
def Goal_diff(df0):
    return df0.GoalsFor-df0.GoalsAgainst

df0['Goal_diff']=Goal_diff(df0)    #adding Column 
df0                                           #calling Value

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Goal_diff
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,23,8,8,3,4,79,1929,1929,1,2807
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,25,12,12,4,6,83,1929,1929,1,2786
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,8,16,9,7,6,56,1929,2002-03,1,1225
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,6,10,11,10,7,50,1931,1987-88,1,929
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,7,10,5,8,10,49,1929,1929,1,931
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,...,4,4,5,12,6,32,1934,2001-02,1,307
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,...,0,4,5,2,5,16,1929,1994-95,3,-280
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,...,3,2,5,4,3,19,1929,2010-11,1,-2
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,...,1,4,5,4,4,18,1939,2012-13,2,-164
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,...,0,2,3,4,4,14,1932,2015-16,1,-333
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,...,5,4,1,0,1,12,1941,2014-15,1,-136
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,...,0,0,2,4,5,11,1939,2012-13,4,-346
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,...,0,0,1,1,1,3,1948,2013-14,4,-413
13,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,...,1,1,2,0,1,5,1929,2011-12,2,-525
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,...,1,1,2,2,1,7,1944,2015-16,2,-399
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,...,0,0,2,2,2,6,1935,2016-17,4,-334
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,...,0,0,1,0,1,2,1949,2008-09,4,-342
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,...,0,3,2,2,4,11,1933,2000-01,3,-309
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,...,0,2,0,2,1,5,1960,2012-13,3,-189
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,...,1,1,1,1,1,5,1951,2015-16,2,-399
20,21,Villarreal,17,970,646,266,172,208,892,789,...,1,1,2,3,2,9,1998,2013-14,2,103
21,22,Granada,23,667,742,218,175,349,819,1157,...,0,0,0,0,2,2,1941,2016-17,6,-338
22,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,...,0,0,0,0,0,0,1977,2015-16,8,-328
23,24,Elche,21,606,678,203,180,295,750,1022,...,0,0,0,1,1,2,1959,2014-15,5,-272
24,25,Getafe,12,553,456,147,112,197,520,633,...,0,0,0,0,1,1,2004,2015-16,6,-113
25,26,Hercules,20,538,628,184,149,295,716,1050,...,0,0,0,1,4,5,1935,2010-11,5,-334
26,27,Tenerife,13,510,494,155,128,211,619,744,...,0,0,0,2,0,2,1961,2009-10,5,-125
27,28,Murcia,18,445,586,145,143,298,607,992,...,0,0,0,0,0,0,1940,2007-08,11,-385
28,29,Alaves,12,421,380,125,81,174,458,623,...,0,0,0,0,1,1,1930,2016-17,6,-165
29,30,Levante,11,416,402,113,95,194,430,632,...,0,0,0,0,1,1,1963,2015-16,6,-202
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,32,Sabadell,14,353,426,129,95,202,492,720,...,0,0,1,1,0,2,1943,1987-88,4,-228
32,33,Cadiz,12,343,448,104,127,217,393,662,...,0,0,0,0,0,0,1977,2005-06,12,-269
33,34,Logrones,9,293,346,96,92,158,291,489,...,0,0,0,0,0,0,1987,1996-97,7,-198
34,35,Castellon,11,285,334,103,79,152,419,588,...,0,0,1,2,0,3,1941,1990-91,4,-169
35,36,Albacete,7,277,270,76,76,118,320,410,...,0,0,0,0,0,0,1991,2004-05,7,-90
36,37,Almeria,6,242,228,62,56,110,244,366,...,0,0,0,0,0,0,2007,2014-15,8,-122
37,38,Cordoba,9,230,282,82,63,137,285,430,...,0,0,0,1,0,1,1962,2014-15,5,-145
38,39,Compostela,4,190,160,52,45,63,199,241,...,0,0,0,0,0,0,1994,1997-98,10,-42
39,40,Recreativo,5,188,186,50,46,90,202,296,...,0,0,0,0,0,0,1978,2008-09,8,-94
40,41,Burgos CF,6,168,204,59,50,95,216,310,...,0,0,0,0,0,0,1971,1979-80,12,-94
41,42,Pontevedra,6,150,180,53,44,83,165,221,...,0,0,0,0,0,0,1963,1969-70,7,-56
42,43,Numancia,4,148,152,37,37,78,155,253,...,0,0,0,0,0,0,1999,2008-09,17,-98
43,44,Eibar,3,132,114,35,27,52,139,167,...,0,0,0,0,0,0,2014,2014-15,10,-28
44,45,Arenas,7,107,130,43,21,66,227,308,...,0,1,0,3,0,4,1929,1934-35,3,-81
45,46,Real Burgos,3,96,114,26,44,44,101,139,...,0,0,0,0,0,0,1990,1992-93,9,-38
46,47,Gimnastic,4,91,116,34,16,66,181,295,...,0,0,0,0,0,0,1947,2006-07,7,-114
47,48,Extremadura,2,83,80,20,23,37,62,117,...,0,0,0,0,0,0,1996,1998-99,17,-55
48,49,Merida,2,81,80,19,24,37,70,115,...,0,0,0,0,0,0,1995,1997-98,19,-45
49,50,Alcoyano,4,76,108,30,16,62,145,252,...,0,0,0,0,0,0,1945,1950-51,10,-107
50,51,Jaen,3,71,90,29,13,48,121,183,...,0,0,0,0,0,0,1953,1957-58,14,-62
51,52,Real Union,4,56,72,21,14,37,153,184,...,0,0,0,0,1,1,1929,1931-32,6,-31
52,53,AD Almeria,2,52,68,17,18,33,71,116,...,0,0,0,0,0,0,1979,1980-81,10,-45
53,54,Europa,3,42,54,18,6,30,97,131,...,0,0,0,0,0,0,1929,1930-31,8,-34
54,55,Lleida,2,40,68,13,14,41,70,182,...,0,0,0,0,0,0,1950,1993-94,16,-112
55,56,Leganes,1,35,38,8,11,19,36,55,...,0,0,0,0,0,0,2016,2016-17,17,-19
56,57,Xerez,1,34,38,8,10,20,38,66,...,0,0,0,0,0,0,2009,2009-10,20,-28
57,58,Condal,1,22,30,7,8,15,37,57,...,0,0,0,0,0,0,1956,1956-57,16,-20
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,...,0,0,0,0,0,0,1951,1951-52,16,-34
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,...,0,0,0,0,0,0,1955,1955-56,15,-31
60,61,Girona,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2017,2017-18,9,0

In [133]:
df0.head(1)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Goal_diff
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,23,8,8,3,4,79,1929,1929,1,2807

In [134]:
df0.tail(1)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Goal_diff
60,61,Girona,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2017,2017-18,9,0

In [144]:
df0['GamesWon'] = df0['GamesWon'].apply(pd.to_numeric)
df0['GamesPlayed'] = df0['GamesPlayed'].apply(pd.to_numeric)
#creating function 
def Winning_Percentage(df0):
    return (df0.GamesWon/df0.GamesPlayed)*100
#joining Column 
df0['Winning_Percentage'] = Winning_Percentage(df0)

df0.nlargest(5,'Winning_Percentage',keep='first') #Calling for top 5

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Goal_diff,Winning_Percentage
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,8,8,3,4,79,1929,1929,1,2807,59.630702
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,12,12,4,6,83,1929,1929,1,2786,57.241130
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,16,9,7,6,56,1929,2002-03,1,1225,47.475134
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,10,11,10,7,50,1931,1987-88,1,929,44.557057
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,10,5,8,10,49,1929,1929,1,931,43.772629

In [149]:
df0['BestPosition'] = df0['BestPosition'].apply(pd.to_numeric)
Grouped = df0.groupby('BestPosition')     #grouping by best position 
df0.head(10)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Goal_diff,Winning_Percentage
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,8,8,3,4,79,1929,1929,1,2807,59.630702
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,12,12,4,6,83,1929,1929,1,2786,57.241130
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,16,9,7,6,56,1929,2002-03,1,1225,47.475134
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,10,11,10,7,50,1931,1987-88,1,929,44.557057
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,10,5,8,10,49,1929,1929,1,931,43.772629
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,...,4,5,12,6,32,1934,2001-02,1,307,41.112957
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,...,4,5,2,5,16,1929,1994-95,3,-280,36.100533
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,...,2,5,4,3,19,1929,2010-11,1,-2,37.532580
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,...,4,5,4,4,18,1939,2012-13,2,-164,35.146022
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,...,2,3,4,4,14,1932,2015-16,1,-333,35.069444

In [150]:
Grouped.groups

{1: Int64Index([0, 1, 2, 3, 4, 5, 7, 9, 10], dtype='int64'),
 2: Int64Index([8, 13, 14, 19, 20], dtype='int64'),
 3: Int64Index([6, 17, 18, 44], dtype='int64'),
 4: Int64Index([11, 12, 15, 16, 31, 34], dtype='int64'),
 5: Int64Index([23, 25, 26, 37], dtype='int64'),
 6: Int64Index([21, 24, 28, 29, 51], dtype='int64'),
 7: Int64Index([30, 33, 35, 41, 46], dtype='int64'),
 8: Int64Index([22, 36, 39, 53], dtype='int64'),
 9: Int64Index([45, 60], dtype='int64'),
 10: Int64Index([38, 43, 49, 52], dtype='int64'),
 11: Int64Index([27], dtype='int64'),
 12: Int64Index([32, 40], dtype='int64'),
 14: Int64Index([50], dtype='int64'),
 15: Int64Index([59], dtype='int64'),
 16: Int64Index([54, 57, 58], dtype='int64'),
 17: Int64Index([42, 47, 55], dtype='int64'),
 19: Int64Index([48], dtype='int64'),
 20: Int64Index([56], dtype='int64')}

In [157]:
for Team, group in Grouped:
    print("Best Position:" +str(Team))
    print("Toatl Points:" +str(sum(group['Points'])))
    print("-------------------------------------------------------------------------------------")

Best Position:1
Toatl Points:27933
-------------------------------------------------------------------------------------
Best Position:2
Toatl Points:6904
-------------------------------------------------------------------------------------
Best Position:3
Toatl Points:5221
-------------------------------------------------------------------------------------
Best Position:4
Toatl Points:6563
-------------------------------------------------------------------------------------
Best Position:5
Toatl Points:1884
-------------------------------------------------------------------------------------
Best Position:6
Toatl Points:2113
-------------------------------------------------------------------------------------
Best Position:7
Toatl Points:1186
-------------------------------------------------------------------------------------
Best Position:8
Toatl Points:1134
-------------------------------------------------------------------------------------
Best Position:9
Toatl Points:96
-------------------------------------------------------------------------------------
Best Position:10
Toatl Points:450
-------------------------------------------------------------------------------------
Best Position:11
Toatl Points:445
-------------------------------------------------------------------------------------
Best Position:12
Toatl Points:511
-------------------------------------------------------------------------------------
Best Position:14
Toatl Points:71
-------------------------------------------------------------------------------------
Best Position:15
Toatl Points:14
-------------------------------------------------------------------------------------
Best Position:16
Toatl Points:81
-------------------------------------------------------------------------------------
Best Position:17
Toatl Points:266
-------------------------------------------------------------------------------------
Best Position:19
Toatl Points:81
-------------------------------------------------------------------------------------
Best Position:20
Toatl Points:34
-------------------------------------------------------------------------------------